/engine/nbproject/private/
/gui/nbproject/private/
build/
dist/
export*.csv
/plot/nbproject/private/
/plot-config/nbproject/private/
/plot-config/OpenDiabetesVault-PlotConfigGenerator/nbproject/private/
nbproject/jfx*
UPDATED.TXT